<!DOCTYPE html>
<html>
<head>
    <title>ABOUT PAGE</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>GENERAL ASPECTS</p>

        <h2 style="color:white">For Pulling any request kindly visit:<a href="https://github.com/ayushkumarak/node3-weather-prediction " >PRESS </a></h2>
        <h2>Deployment of Project<a href="https://dashboard.heroku.com/apps">PRESS</a> </h2>
        <a href="https://en.wikipedia.org/wiki/Weather_forecasting">FOR MORE INFO</a>
    </div>
    {{>footer}}
</body>
</html>
