<!DOCTYPE html>
<html>
<head>
    <title>ABOUT PAGE</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>This site is created by ayush kumar</p>
        <img class="potrait" src="/img/weather.jpg">
        <a href="https://en.wikipedia.org/wiki/Weather_forecasting">FOR MORE INFO</a>
    </div>
    {{>footer}}
</body>
</html>