
<!DOCTYPE html>
<html>
<head>
    <title>FOOD</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<div class="main-content">

    <h1>{{>header}}</h1>
    <p>{{title}}</p>
    <P>THIS IS THE FOOD SITE OREDER IT NOW!!!!!
      <h2><a href="https://ayush-juice.herokuapp.com/#/login">ORDER</a></h2>

    </P>
</div>
{{>footer}}
</body>
</html>
