<!DOCTYPE html>
<html>
<head>
    <title>HELP</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<div class="main-content">

    <h1>{{>header}}</h1>
    <p>{{title}}</p>
    <P>THIS IS THE HELP PART
        FOR ANY QUERY
        CONTACT THE FOLLOWING LOG
      <h2><a href="https://www.google.co.in/search?hl=en&authuser=0&tbm=isch&source=hp&biw=1242&bih=597&ei=DwWlXKjTKZbyrAGFlb7ABA&q=weather+images&oq=weather+&gs_l=img.1.3.0l10.3074.5946..9483...0.0..0.872.1871.0j7j6-1......1....1..gws-wiz-img.....0.W-nYKysFgo8#imgrc=frlXW-tKF23UxM:">google</a></h2>

    </P>
</div>
{{>footer}}
</body>
</html>