<!DOCTYPE html>
<html>
<head>
    <title>RADAR PAGE</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>GENERAL ASPECTS</p>
        <a href="https://www.ventusky.com/">SOS SYSTEM</a>
    </div>
    {{>footer}}
</body>
</html>
