body{
    color:#00FFFF;
    font-family:arial;
    max-width:650px;
    margin:0 auto;
    padding:0 16px;

    display:flex;
    flex-direction:column;
    min-height:100vh;

    background-color:#59504a;
    background-image:url('https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

.main-content{
    flex-grow:1;
}

footer{
    color:#F5FFFA;
    border-top:1px solid #eeeeee;
    font-size:10px;
}

header{
    margin-top:44px;
    margin-bottom:10px;
}

header a{
    color:#F5FFFA;
    margin-right:16px;
    text-decoration:none;
}

.potrait{
    width:550px;
}

input{
    border:1px solid #cccccc;
    padding:8px;
}

button{
    cursor:pointer;
    border:1px solid #888888;
    background:#888888;
    color:white;
    padding:8px;
}